.show-pantry-recipes-btn,
.show-all-btn,
.filter-btn {
  background-color: $mint-green;
  border: 0;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.search-btn {
  border-radius: 0px 15px 15px 0px;
  width: 100%;
  padding: 10%;
}

.show-pantry-recipes-btn {
  margin-top: 10px;
}

.show-all-btn {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

.filter-btn:hover {
  background-color: $button-hover-color;
}

// .menu-button {
//   @include hamburger-menu();
// }

// .menu-button-burger {
//   @include hamburger-menu-button();

//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     @include hamburger-menu-button();
//   }

//   &::before {
//     transform: translateY(-10px);
//   }

//   &::after {
//     transform: translateY(10px);
//   }
// }