.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 3;

  h2 {
    color: $mint-green;
    margin: 0px;
  }
}
.pantry-list {
  color: black;
  padding-left: 15px;
  text-align: left;
  list-style: none;
}
