main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: white;
  border: 2px solid $lemon-lime;
  border-radius: 7px;
  cursor: pointer;
  height: 270px;
  margin: 20px;
  padding: 15px;
  width: 250px;
}

.recipe-card:hover .card-photo-preview {
  opacity: 50%;
  transition: .8s ease;
}

.recipe-card:hover .text {
  font-size: 20px;
  opacity: 100%;
  transition: .5s ease;
  width: 100%;
}

.recipe-card:hover h3 {
  text-shadow: 0px 0px 4px $lemon-lime;
  transition: .8s ease;
}

.card-apple-icon {
  cursor: pointer;
  float: right;
  height: 50px;
  padding-bottom: 10px;
  width: 45px;
}

.card-photo-preview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  cursor: pointer;
  height: 130px;
  transition: .8s ease;
  width: 100%;
}

.card-photo-container {
  align-items: center;
  display: flex;
  height: 130px;
  justify-content: center;
  position: relative;
}

.text {
  background: $mint-green;
  color: white;
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}
