aside {
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 200px;

  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 35px;
  }
  
  li {
    margin: 2px;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}


