@import './_variables.scss';
@import './_text.scss';
@import './_header.scss';
@import './_banner.scss';
@import './_sidebar.scss';
@import './_recipeCards.scss';
@import './_buttons.scss';
@import './_pantry.scss';
@import './_recipeInstructions.scss';

body {
  background-color: $grey-blue-background-color;
  display: grid;
  font-family: "Quicksand", sans-serif;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "image"
      "aside"
      "main";
    min-width: 350px;
  }
}

.hidden {
  display: none;
}